{% extends 'layout.html' %}

{% block heading %}
  <h1>TEST</h1>
{% endblock %}

{% block body %}
  <main>
    <div id="sidebar">
    </div>
    <div id="content">

        <div class="search">
            <input type="text" placeholder="Search..">
        </div>

        <div class="card-group">
            <div class="card" >
              <div class="card-body">
                <h2>"Entry 1"</h2>
                <p>sdf sdfsf  fs ds f f sfd</p>
                <p class="card-text">erg dg df g  rg g erg erg</p>
              </div>
            </div>
            <div class="card" >
                <div class="card-body">
                  <h2>"Entry 2"</h2>
                  <p>sdf sdfsf  fs ds f f sfd</p>
                  <p class="card-text">erg dg df g  rg g erg erg</p>
                </div>
              </div>
              <div class="card" >
                <div class="card-body">
                  <h2>"Entry 3"</h2>
                  <p>sdf sdfsf  fs ds f f sfd</p>
                  <p class="card-text">erg dg df g  rg g erg erg</p>
                </div>
              </div>
            
        </div>

    </div>

  </main>
{% endblock %}