{% extends 'layout.html' %}

{% block heading %}
  <h1>TEST</h1>
{% endblock %}

{% block body %}
  <main>
    <div id="sidebar">
        <div class="sidebar-button"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='record.png') }}" style="height: 90px; margin: 55px; margin-top: 45px;"></a></div>
        <div class="sidebar-button"><a href="{{ url_for('entries') }}"><img src="{{ url_for('static', filename='entries.png') }}" style="height: 90px; margin-left: 55px; margin-top: 45px;"></a></div>
        <div class="sidebar-button"><a href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='logout.png') }}" style="height: 90px; margin-left: 55px; margin-top: 45px;"></a></div>
    </div>
    <div id="entriescontent">

        <div class="search">
            <input type="text" placeholder="Search by keyword">
        </div>

        <div class="row">
        <div class="card-deck">
            <form method="POST">
                <button type="submit" style="border: none; outline:none; background-color: transparent;">
                    <div class="card text-center">
                        <div class="bookmark">
                            <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                            </svg> 
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">2020-09-13</h4>
                            <p class="card-text">
                                Dear diary today I had a great time hacking with my team at a hackathon
                            </p>
                        </div>
                        <div class="card-footer">
                            Just Hackathon Things
                        </div>
                    </div>
                </button>
            </form>
            
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-09-10</h4>
                    <p class="card-text">
                      Dear Nite Write today I had my phone interview and I was insanely nervous but it went well...
                    </p>
                </div>
                <div class="card-footer">
                    My Phone Interview
                </div>
            </div>
    
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-09-08</h4>
                    <p class="card-text">
                      Dear diary today I was feeling sad because I am at Zoom University...
                    </p>
                </div>
                <div class="card-footer">
                    Zoom Uni Gloom
                </div>
            </div>
        </div>
        
        <div class="card-deck mt-4">
            <form method="POST">
                <button type="submit" style="border: none; outline:none; background-color: transparent;">
                    <div class="card text-center">
                        <div class="bookmark">
                            <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                            </svg> 
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">2020-09-07</h4>
                            <p class="card-text">
                            At my school the number of cases is continuing to grow every day...
                            </p>
                        </div>
                        <div class="card-footer">
                            COVID-19 Kids
                        </div>
                    </div>
                </button>
            </form>
    
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-09-05</h4>
                    <p class="card-text">
                      Dear Nite Write today I have a lot of obligations that I need to meet...
                    </p>
                </div>
                <div class="card-footer">
                    Busy Busy Busy
                </div>
            </div>
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-09-01</h4>
                    <p class="card-text">
                      Dear diary today it is my birthday and my boo bought me a delicious cake.
                    </p>
                </div>
                <div class="card-footer">
                    Birthday
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <form method="POST">
                <button type="submit" style="border: none; outline:none; background-color: transparent;">
                    <div class="card text-center">
                        <div class="bookmark">
                            <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                            </svg> 
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">2020-08-30</h4>
                            <p class="card-text">
                            Dear diary I am actually obsessed with Tik Tok...
                            </p>
                        </div>
                        <div class="card-footer">
                        TikTok Love
                        </div>
                    </div>
                </button>
            </form>
    
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-08-29</h4>
                    <p class="card-text">
                      Dear diary, these classes are really getting irritating.
                    </p>
                </div>
                <div class="card-footer">
                    Online Classes
                </div>
            </div>
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-08-28</h4>
                    <p class="card-text">
                      Dear diary, so today I finally found out that I got the Grace Hopper scholarship from my school...
                    </p>
                </div>
                <div class="card-footer">
                    Virtual GHC
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-08-27</h4>
                    <p class="card-text">
                      Dear diary today I made my coffee...
                    </p>
                </div>
                <div class="card-footer">
                    Instant Coffee
                </div>
            </div>
    
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-08-25</h4>
                    <p class="card-text">
                      Dear diary today I listen to ITZY's new song...
                    </p>
                </div>
                <div class="card-footer">
                    I love ITZY!
                </div>
            </div>
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-08-24</h4>
                    <p class="card-text">
                      So I'm starting this research with my professor...
                    </p>
                </div>
                <div class="card-footer">
                    Research with Professor
                </div>
            </div>
        </div>

        <div class="card-deck mt-4">
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-08-20</h4>
                    <p class="card-text">
                      Dear diary, I'm participating in PennApps Hackathon.
                    </p>
                </div>
                <div class="card-footer">
                    Hackathon
                </div>
            </div>
    
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-08-18</h4>
                    <p class="card-text">
                        Dear diary, I just realized I suck at coding...
                    </p>
                </div>
                <div class="card-footer">
                    LeetCode Journey
                </div>
            </div>
            <div class="card text-center">
                <div class="bookmark">
                    <svg width="30" height="55" viewBox="0 0 30 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0V55L15 38.2422L30 55V0H0Z" fill="white"/>
                    </svg> 
                </div>
                <div class="card-block">
                    <h4 class="card-title">2020-08-17</h4>
                    <p class="card-text">
                        Dear Nite Write, I love dried mangoes...
                    </p>
                </div>
                <div class="card-footer">
                    $40 of Dried Mango
                </div>
            </div>

        </div>
        </div>
            

    </div>

  </main>
{% endblock %}