{% extends 'layout.html' %}

{% block heading %}
  <header class="container-fluid">
    <a href="{{ url_for('index') }}">
      <h1>
        Nite Write
      </h1>
    </a>
  </header>
{% endblock %}

{% block body %}
  <main>
  <div id="sidebar">
    <div class="sidebar-button"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='record.png') }}" style="height: 90px; margin-left: 55px; margin-top: 45px;"></a></div>
    <div class="sidebar-button"><a href="{{ url_for('entries') }}"><img src="{{ url_for('static', filename='entries.png') }}" style="height: 90px; margin-left: 55px; margin-top: 45px;"></a></div>
    <div class="sidebar-button"><a href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='logout.png') }}" style="height: 90px; margin-left: 55px; margin-top: 45px;"></a></div>
  </div>
  <div id="content" class="home">
    <h2 class="home-date">Today is <strong>{{ date }}</strong></h2>
    <p class="home-questions">Questions to think about: <span class="questions"></span></p>
    <div class="bottom">
      <div class="home-form-container">
        <form method="POST">
          <input name="entry-title" type="text" class="home-add-title" placeholder="Add title here...">
        </form>
      </div>
      <div class="record-button">
        <button id="mic" class="btn btn-info btn-md">
          <i class="fa fa-microphone"></i>
        </button>
      </div>
      <form method="POST">
        <textarea name="entry" id="entry-area" class="home-textarea" placeholder="Click the microphone to begin your entry!"></textarea>
        <div class="save-btn-container">
          <a href="{{url_for('saveData')}}">
            <button type="submit" class="save-btn">Save Entry</button>
          </a>
        </div>
      </form>
      <div id="result" style="margin-left: 40px; color: white;"></div>

    </div>
    <!-- if not using chrome -->
    <p id="message" hidden aria-hidden="true" style="margin-left: 50px; margin-top: 30px;">
      Your browser doesn't support Speech Recognition. Sorry.
    </p>

  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script type="text/javascript">
  var typed = new Typed('.questions', {
  strings: ["What are you worried about?", "How was Zoom University today?", 
  "What's on your mind right now?",
  "Did you taking time to care for yourself?",
  "Things that made you happy today", 
  "List five good things that happened today.", 
  "Something you want to remember", 
  "Did you take time to care for yourself?"
],
  typeSpeed: 70,
  loop: true,
  backSpeed: 40, 
  backDelay: 1500
});
</script>
{% endblock %}
