{% extends 'layout.html' %}

{% block body %}
    <main>
        <div id="sidebar">
        <div class="sidebar-button"><i class="fa fa-microphone"></i></div>
        <div class="sidebar-button"><i class="fa fa-book"></i></div>
        <div class="sidebar-button"></div>
        </div>
        <div id="content" class="home">
        <h2 class="home-date">Today is <strong>09/12/2020</strong></h2>
        <p class="home-questions">Questions to think about: <span>What are you worried about?</span></p>
        <h3 class="home-add-title">Add title here...</h3>
        <div class="home-form-container">
            <form class="home-form">
            <textarea class="home-speech-area">The cat was playing in the garden.</textarea>
            <br>
            <input type="submit" class="save-entry-btn">
            </form>
        </div>
        <div><i class="fa fa-microphone"></i></div>
        </div>
  </main>
{% endblock %}